@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    font: inherit;
    color: inherit;
}

img {
    border: 0;
    max-width: 100%;
    height: auto;
    display: block;
}

.cf::after {
    content: '';
    display: block;
    clear: both;
}

.float {
    float: left;
}

html,
body,
#root,
.app-root {
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
    background-color: #000;
}

.app-root {
    position: relative;
    /* overflow: hidden; */
}


html,
.app-root {
    background-color: #000;
}