.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 142px;
  padding-bottom: 135px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container section {
  width: 1400px;
  margin: 0 auto;
}

.container .leftMenu {
  position: fixed;
  width: 91px;
  min-width: 91px;
  height: 208px;
  display: flex;
  flex-direction: column;
  opacity: 1;
  left: max(calc(((100vw - 1400px) / 2) - 158px));
  z-index: 1;
  transition: opacity 0.2s;
}

.container .leftMenu ul {
  position: absolute;
  left: 0;
}

.container .leftMenu ul li:first-child a {
  padding-top: 0;
}

.container .leftMenu ul li a {
  display: block;
  padding: 16px 0;
  color: #c3c3c3;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  letter-spacing: -0.32px;
  text-transform: capitalize;
  -webkit-transition: all 0.15s ease 150ms;
  transition: all 0.15s ease 150ms;
}

.container .leftMenu ul li a:hover,
.container .leftMenu ul li a.active {
  color: #ff5026;
}

.container .rightContent {
  position: relative;
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  gap: 208px;
}

.container .rightContent .section1 {
  width: 1400px;
  display: flex;
  margin: 0 auto;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
}

.container .rightContent .section1 .main {
  position: relative;
  display: block;
  width: 680px;
  height: 100%;
  padding: 40px 48px;
  border-radius: 12px;
  background: #363030;
  overflow: hidden;
  box-sizing: border-box;
}

.container .rightContent .section1 .main .mainText01 {
  position: relative;
  top: 510px;
  margin-bottom: 70px;
  overflow: hidden;
  color: #ffffff;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  /* 56px */
  letter-spacing: -0.8px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.container .rightContent .section1 .main:hover .mainText01 {
  color: #ff5026;
}

.container .rightContent .section1 .main .mainPressInfo {
  position: relative;
  top: 511px;
  height: unset;
  display: flex;
  justify-content: flex-end;
  color: #fff;
  text-overflow: ellipsis;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.36px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 0;
}

.container .rightContent .section1 .main .mainPressInfo .date {
  padding: 11.5px 0;
}

.container .rightContent .section1 .main .mainPressInfo span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.32px;
  border-radius: 999px;
}

.container .rightContent .section1 .main h3 {
  position: relative;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.32px;
  text-transform: uppercase;
  z-index: 100;
}

.container .rightContent .section1 .main div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 510px;
  border-radius: 12px;
  overflow: hidden;
}

.container .rightContent .section1 .main .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .rightContent .section1 .main .imgBox img.filter {
  filter: brightness(0.7) contrast(1.1);
}

.container .rightContent .section1 .side {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.container .rightContent .section1 .side .top {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 330px;
  border-radius: 12px;
  background: #f4f4f4;
  overflow: hidden;
}

.container .rightContent .section1 .side .top:hover .pressContent {
  text-decoration: underline;
}

.container .rightContent .section1 .side .top a {
  display: block;
  width: 100%;
  height: 100%;
}

.container .rightContent .section1 .side .top h3 {
  color: #201d1d;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.32px;
}

.container .rightContent .section1 .side .top div.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  width: 363px;
  padding: 30px 48px 30px 30px;
}

.container .rightContent .section1 .side .top a>div {
  display: flex;
  height: 100%;
}

.container .rightContent .section1 .side .top div.title p.pressTitle {
  color: #ff5026;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.28px;
}

.container .rightContent .section1 .side .top div.title p.pressContent {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #201d1d;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;
}

.container .rightContent .section1 .side .top div.imgBox {
  position: relative;
  width: 338px;
  margin-left: auto;
  border-radius: 12px;
  overflow: hidden;
}

.container .rightContent .section1 .side .top div.imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .rightContent .section1 .side .top div.imgBox img.filter {
  filter: brightness(0.7) contrast(1.1);
}

.container .rightContent .section1 .side .bottom {
  height: 499px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 24px;
}

.container .rightContent .section1 .side .bottom>div {
  position: relative;
  width: 340px;
  border-radius: 12px;
  overflow: hidden;
}

.container .rightContent .section1 .side .bottom>div h3 {
  position: relative;
  padding: 24px 30px 0;
  color: #fff;
  z-index: 2;
  background: url("../image/main/25_re/arrow.png") no-repeat top 29px right 30px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.32px;
}

.container .rightContent .section1 .side .bottom>div .imgBox {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transition: all 0.2s;
}

.container .rightContent .section1 .side .bottom>div .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .rightContent .section1 .side .bottom .stock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 175px;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  background: #eee;
}

.container .rightContent .section1 .side .bottom .stock a:hover .stockPrice strong {
  font-size: 35px;
  transition: all 0.2s;
}

.container .rightContent .section1 .side .bottom .stock a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.container .rightContent .section1 .side .bottom .stock h3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: url("../image/main/25_re/arrowBlack.svg") no-repeat top 29px right 30px;
  color: #201d1d;
  font-weight: 600;
}

.container .rightContent .section1 .side .bottom .stock h3 span {
  color: #b4b4b4;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  /* 12px */
  letter-spacing: -0.24px;
}

.container .rightContent .section1 .side .bottom .stock .stockInfo {
  padding: 24px 30px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.container .rightContent .section1 .side .bottom .stock .stockInfo .stockPrice {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container .rightContent .section1 .side .bottom .stock .stockInfo .stockPrice span {
  display: block;
  color: #ff5026;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  /* 12px */
  letter-spacing: -0.24px;
}

.container .rightContent .section1 .side .bottom .stock .stockInfo .stockPrice strong {
  color: #201d1d;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  /* 32px */
  letter-spacing: -0.64px;
  transition: all 0.2s;
}

.container .rightContent .section1 .side .bottom .stock .stockInfo .stockDetails {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.container .rightContent .section1 .side .bottom .stock .stockInfo .stockDetails .stockChange {
  color: #201d1d;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  /* 12px */
  letter-spacing: -0.24px;
}

.container .rightContent .section1 .side .bottom .stock .stockInfo .stockDetails .stockVolume {
  color: #201d1d;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 14px */
  letter-spacing: -0.28px;
}

.container .rightContent .section1 .side .bottom .stock .stockInfo .stockDetails .stockVolume .upDown {
  margin-right: 8px;
}

.container .rightContent .section1 .side .bottom .value {
  position: relative;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  /* 2번 요소가 3행 전체를 차지 */
  height: 281px;
  background: #bbb;
  transition: all 0.2s;
}

.container .rightContent .section1 .side .bottom .value .imgBox:before {
  content: "";
  position: absolute;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
}

.container .rightContent .section1 .side .bottom .value:hover .imgBox:before {
  content: "";
  position: absolute;
  background: #00000066;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  transition: all 0.2s;
}

.container .rightContent .section1 .side .bottom .news {
  display: flex;
  flex-direction: column;
  gap: 34px;
  height: 300px;
  grid-row: 2 / 4;
  grid-column: 1 / 2;
  background: #ff5026;
}

.container .rightContent .section1 .side .bottom .news h3 a {
  width: 100%;
  display: block;
}

.container .rightContent .section1 .side .bottom .news ul {
  padding: 0 30px 24px;
}

.container .rightContent .section1 .side .bottom .news ul li:first-child {
  /* background: #fff; */
}

.container .rightContent .section1 .side .bottom .news ul li {
  display: flex;
  padding: 12px 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  border-radius: 12px;
}

.container .rightContent .section1 .side .bottom .news ul li a {
  display: flex;
  flex-direction: column;
  gap: 6px;
  text-decoration-color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.container .rightContent .section1 .side .bottom .news ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.container .rightContent .section1 .side .bottom .news ul li a div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  /* 12px */
  letter-spacing: -0.24px;
  color: #fff;
}

ul li span.category {
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  /* 12px */
  letter-spacing: -0.24px;
}

.container .rightContent .section1 .side .bottom .news ul li p {
  margin-bottom: 12px;
  overflow: hidden;
  color: #fff;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.4px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-self: stretch;
}

.container .rightContent .section1 .side .bottom .news ul li:first-child p {
  /* color: #201d1d; */
}

.container .rightContent .section1 .side .bottom .news ul li:first-child a div {
  /* color: #808080; */
}

.container .rightContent .section1 .side .bottom .sns {
  grid-row: 3 / 3;
  grid-column: 2 / 2;
  height: 195px;
  background: #ccc;
}

.container .rightContent .section1 .side .bottom .value p,
.container .rightContent .section1 .side .bottom .sns p {
  position: absolute;
  padding: 24px 30px;
  bottom: 0;
  color: #fff;
  z-index: 10;
}

.container .rightContent .section1 .side .bottom .value p {
  color: #fff;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.4px;
  overflow: hidden;
}

.container .rightContent .section1 .side .bottom .sns:hover p {
  font-size: 22px;
  transition: all 0.2s;
}

.container .rightContent .section1 .side .bottom .sns p {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.32px;
  text-transform: capitalize;
  transition: all 0.2s;
}