html,
body {
  height: 100%;
  min-width: 1280px;
  /*overflow-x: auto !important;*/
}

body {
  -webkit-text-size-adjust: none;
}

body,
input,
select,
textarea,
button,
table {
  font-family: "Pretendard", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo",
    "돋움", dotum, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  line-height: 1.5;
  word-break: keep-all;
  word-wrap: break-word;
  letter-spacing: -0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

em,
address {
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
}

input,
select,
textarea,
button {
  vertical-align: middle;
}

button {
  cursor: pointer;
  width: auto;
  overflow: visible;
  color: inherit;
  font-size: inherit;
  vertical-align: middle;
  background: transparent;
  border: none;
}


.wrap {
  width: 100%;
  min-height: 100%;
  min-width: 1280px;
  /*overflow:hidden;*/
}

.header {
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 1;
  z-index: 101;
}

.header .header-inner {
  position: absolute;
  left: 0;
  width: 100%;
  min-width: 1280px;
  color: #000;
  font-size: 14px;
}

.header .header-inner::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  border-bottom: 1px solid #eee;
  opacity: 0;
}

.header.fixed .header-inner {
  position: fixed;
  top: 0;
}

.header .gnb-logo {
  position: absolute;
  left: 50%;
  top: 36px;
  z-index: 6;
  margin-left: -675px;
}

.header .gnb-logo {
  top: 36px;
  -webkit-transition: top 0.3s linear;
  transition: top 0.3s linear;
}

.header .gnb-nav {
  max-width: 1350px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header .gnb-nav>.main {
  margin-left: -270px;
}

.header .gnb-nav .dep-1 {
  display: inline-block;
  padding-right: 3px;
}

.header .gnb-nav .dep-1>a {
  position: relative;
  z-index: 3;
  display: block;
  padding: 29px 30px 30px 30px;
  color: #000;
  font-weight: 700;
  font-size: 19px;
}

.header.fixed .gnb-nav .dep-1>a {
  color: #000;
}

.header .logo {
  background-image: url(../images/new-logo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center 0px;
  width: 150px;
  height: 30px;
  text-indent: -99999px;
  display: block;
}

.header .gnb-util {
  display: flex;
  position: absolute;
  right: 10%;
  z-index: 3;
  line-height: 20px;
  top: 29px;
  justify-content: center;
  align-items: center;
  top: 25%;
}

.header .gnb-util li {
  position: relative;
}

.header .gnb-util li+li {
  margin-left: 22px;
}

.header .gnb-util a {
  -webkit-transition: color 0 ease;
  transition: color 0 ease;
}

.header .gnb-util a:hover,
.header .gnb-util a:focus {
  color: #ff5a2b;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}


.header .btn-all {
  position: absolute;
  right: 7%;
  z-index: 6;
  width: 29px;
  height: 22px;
  top: 37%;
}

.header .btn-all .bar {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background: #000;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header .btn-all .bar::before,
.header .btn-all .bar::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background: #000;
}

.header .btn-all .bar::before {
  -webkit-transform: translateY(-11px);
  transform: translateY(-11px);
}

.header .btn-all .bar::after {
  -webkit-transform: translateY(9px);
  transform: translateY(9px);
}

.blind {
  display: block;
  position: absolute;
  left: -9999px;
  text-indent: -9999px;
  width: 0;
  height: 0;
  border: 0;
  overflow: hidden;
  font-size: 1px;
  line-height: 0;
  white-space: nowrap;
}